.gradle
/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/gradle
/.idea
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.iml
build.gradle
gradle.properties
gradlew
gradlew.bat
LoopStation.iml
settings.gradle

app/proguard-rules.pro
